# SPDX-License-Identifier: Apache-2.0

FUNCTION_NAME=batch-ppa
NODE_ENV=dev
PORT=3000

# Batch-PPA
TMS_ENDPOINT=
VERIFY_REPORTS=false
DELAY=1000
QUOTING=true

# MISC
CACHE_TTL=0
CERT_PATH=

# REDIS
REDIS_DB=0
REDIS_AUTH=exampleAuth
REDIS_HOST=127.0.0.1
REDIS_PORT=16379

# ArangoDB
PSEUDONYMS_DATABASE=pseudonyms
PSEUDONYMS_DATABASE_URL=tcp://0.0.0.0:18529
PSEUDONYMS_DATABASE_USER=root
PSEUDONYMS_DATABASE_PASSWORD=''

TRANSACTION_HISTORY_DATABASE=transactionHistory
TRANSACTION_HISTORY_DATABASE_URL=tcp://0.0.0.0:18529
TRANSACTION_HISTORY_DATABASE_USER=root
TRANSACTION_HISTORY_DATABASE_PASSWORD=''
TRANSACTION_HISTORY_DATABASE_PAIN001_COLLECTION=transactionHistoryPain001
TRANSACTION_HISTORY_DATABASE_PAIN013_COLLECTION=transactionHistoryPain013
TRANSACTION_HISTORY_DATABASE_PACS008_COLLECTION=transactionHistoryPacs008
TRANSACTION_HISTORY_DATABASE_PACS002_COLLECTION=transactionHistoryPacs002

# ELASTIC APM
APM_ACTIVE=false
APM_SERVICE_NAME=batch-ppa
RETRY=3
# APM_URL=127.0.0.1:4857
APM_URL=http://apm:8200
APM_SECRET_TOKEN=""

# LOGGING
LOGSTASH_HOST=logstashhost
LOGSTASH_PORT=8080
