# SPDX-License-Identifier: Apache-2.0

FUNCTION_NAME=batch-ppa
NODE_ENV=dev
MAX_CPU=1


# Batch-PPA
TMS_ENDPOINT=
QUOTING=true
PORT=3000
MAX_FILE_SIZE=100 #mb

# REDIS
REDIS_DATABASE=0
REDIS_AUTH="exampleAuth"
REDIS_SERVERS='[{"host":"127.0.0.1", "port":16379}]'
REDIS_IS_CLUSTER=false
DISTRIBUTED_CACHETTL=300
DISTRIBUTED_CACHE_ENABLED=true


# ArangoDB
PSEUDONYMS_DATABASE=pseudonyms
PSEUDONYMS_DATABASE_URL=tcp://0.0.0.0:18529
PSEUDONYMS_DATABASE_USER=root
PSEUDONYMS_DATABASE_PASSWORD=''
PSEUDONYMS_DATABASE_CERT_PATH=''

TRANSACTION_HISTORY_DATABASE=transactionHistory
TRANSACTION_HISTORY_DATABASE_URL=tcp://0.0.0.0:18529
TRANSACTION_HISTORY_DATABASE_USER=root
TRANSACTION_HISTORY_DATABASE_PASSWORD=''
TRANSACTION_HISTORY_DATABASE_CERT_PATH=''
TRANSACTION_HISTORY_PAIN001_COLLECTION=transactionHistoryPain001
TRANSACTION_HISTORY_PAIN013_COLLECTION=transactionHistoryPain013
TRANSACTION_HISTORY_PACS008_COLLECTION=transactionHistoryPacs008
TRANSACTION_HISTORY_PACS002_COLLECTION=transactionHistoryPacs002

# ELASTIC APM
APM_ACTIVE=false
APM_SERVICE_NAME=batch-ppa
APM_URL=http://apm:8200
APM_SECRET_TOKEN=""

# LOGGING
LOGSTASH_HOST=logstashhost
LOGSTASH_PORT=8080
