# SPDX-License-Identifier: Apache-2.0

FUNCTION_NAME=batch-ppa
NODE_ENV=dev
MAX_CPU=1


# Batch-PPA
TMS_ENDPOINT=
QUOTING=true
PORT=4100
MAX_FILE_SIZE=100 #mb
DELIMITER='|'

# REDIS
REDIS_DATABASE=0
REDIS_AUTH="exampleAuth"
REDIS_SERVERS='[{"host":"127.0.0.1", "port":16379}]'
REDIS_IS_CLUSTER=false
DISTRIBUTED_CACHETTL=300
DISTRIBUTED_CACHE_ENABLED=true

# POSTGRES
RAW_HISTORY_DATABASE=raw_history
RAW_HISTORY_DATABASE_HOST=
RAW_HISTORY_DATABASE_PORT=
RAW_HISTORY_DATABASE_USER= 
RAW_HISTORY_DATABASE_PASSWORD=
RAW_HISTORY_DATABASE_CERT_PATH=/usr/local/share/ca-certificates/ca-certificates.crt

EVENT_HISTORY_DATABASE=event_history
EVENT_HISTORY_DATABASE_HOST=
EVENT_HISTORY_DATABASE_PORT=
EVENT_HISTORY_DATABASE_USER=
EVENT_HISTORY_DATABASE_PASSWORD=
EVENT_HISTORY_DATABASE_CERT_PATH=/usr/local/share/ca-certificates/ca-certificates.crt

# ELASTIC APM
APM_ACTIVE=false
APM_SERVICE_NAME=batch-ppa
APM_URL=http://apm:8200
APM_SECRET_TOKEN=""

# LOGGING
LOG_LEVEL='info'
SIDECAR_HOST=0.0.0.0:5000
